.layout{
    background-color: rgb(255, 255, 255);
}

.title {
    color: var(--black, var(--title, #101010));
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    padding: 24px;
}

.textBold{
    font-weight: 700;
}

.lovelyText {
    color: var(--gray-scale2, var(--main-txt, #737373));
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    padding: 0px 24px;
}

.lovelyContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 한 개의 행을 만듭니다. */
    gap: 20px; /* 각 요소 사이의 간격을 설정합니다. */
    width: 100%;
    margin: 20px;
    height: auto;
    overflow-x: scroll; /* 스크롤을 좌우로 움직이도록 설정합니다. */
    overflow-y: hidden; /* 상하 스크롤을 숨깁니다. */
    ::-webkit-scrollbar {
      display: none; /* 스크롤바를 숨깁니다. */
    }
  }
  

.lovely{
    width: 79px;
    height: 79px;
    border-radius: 79px;
    border: 2px solid var(--orange, #FF6F3C);
}

.containerLayout {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.feedContainer {
    display: relative;
    width: 360px;
    padding: 12px 10px;
    flex-direction: column;
    align-items: flex-start;
}

.profile {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
  }

.profilePic{
    width: 45px;
    height: 45px;
    fill: #cd1818;
    border-radius: 50%;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
  }

.nickname{
    color: var(--black, var(--title, #101010));
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gray {
    color: var(--gray-scale, var(--email, #9F9F9F));
}

.time {
    color: var(--gray-scale, var(--email, #9F9F9F));
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    right: 10px;
    margin-left: 170px;
}

.feedImage {
    width: 100%;
    height: 340px;
    object-fit: cover;
    margin-top: 15px;
    margin-bottom: 7px;
    background-color: var(--gray-scale, #f3f3f3);
    display: flex;
    align-items: center; /* 세로 중앙 정렬을 위해 추가 */
    justify-content: center;
    overflow: hidden;
}

.bottomBar {
    display: flex;
    width: 100%;
    padding: 0px 12px;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 12px;
}

.bookmark {
    margin-left: 240px;
    right: 15px;
}

.score {
    color: var(--white, #FFF);
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: flex-start;
    display: flex;
    margin: 0px 12px;
}

.feedText {
    color: #000;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-left: 15px;
    padding: 12px 0px;
}

.comment {
    display: flex;
    width: 96%;
    height: 30px;
    margin-left: 15px;
}

.commentNickname {
    color: var(--gray-scale2, var(--main-txt, #737373));
    font-family: 'Pretendard-Regular';
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 14px;
}

.commentText {
    color: var(--gray-scale2, var(--main-txt, #737373));
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}