.header {
    display: inline-flex;
    width: 100%;
    align-items: start;
    flex-shrink: 0;
    list-style: none;
    //padding-right: 50px;
    color: var(--gray-scale-1, var(--sub-title, #313131));
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.firstColumn {
    border: 1px solid var(--gray-scale, #F3F3F3);
    text-align: center;
    height: 24px;
    padding: 8px 24px;
    justify-content: center;
    align-items: start;
    gap: 8px;
    width: 10%;
    color: var(--gray-scale-1, var(--sub-title, #313131));
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .secondColumn{
    border: 1px solid var(--gray-scale, #F3F3F3);
    text-align: center;
    height: 24px;
    padding: 8px 24px;
    padding-right: 5%;
    justify-content: center;
    align-items: start;
    gap: 8px;
    width: 70%;
    color: var(--gray-scale-1, var(--sub-title, #313131));
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

.regionColumn {
    border: 1px solid var(--gray-scale, #F3F3F3);
    text-align: center;
    height: 24px;
    padding: 8px 24px;
    justify-content: center;
    align-items: start;
    gap: 8px;
    width: 60%;
    color: var(--gray-scale-1, var(--sub-title, #313131));
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container {
    display: inline-flex;
    width: 100%;
    align-items: start;
    flex-shrink: 0;
    list-style: none;
    color: var(--gray-scale-1, var(--sub-title, #313131));
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.cityList {
    list-style: none;
    text-align: start;
    height: 24px;
    padding: 8px 24px;
    justify-content: center;
    align-items: start;
    gap: 8px;
    flex: 3;
    color: var(--gray-scale-1, var(--sub-title, #313131));
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}