.table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: inline-flex;
    width: 360px;
    align-items: start;
    flex-shrink: 0;
    list-style: none;
    color: var(--gray-scale-1, var(--sub-title, #313131));
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.firstColumn {
    border: 1px solid var(--gray-scale, #F3F3F3);
    text-align: center;
    height: 24px;
    padding: 8px 24px;
    justify-content: center;
    align-items: start;
    gap: 8px;
    width: 53px;
    color: var(--gray-scale-1, var(--sub-title, #313131));
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .secondColumn{
    border: 1px solid var(--gray-scale, #F3F3F3);
    text-align: center;
    height: 24px;
    padding: 8px 24px;
    padding-right: 5%;
    justify-content: center;
    align-items: start;
    gap: 8px;
    width: 70%;
    color: var(--gray-scale-1, var(--sub-title, #313131));
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

.regionColumn {
    border: 1px solid var(--gray-scale, #F3F3F3);
    text-align: center;
    height: 24px;
    padding: 8px 24px;
    justify-content: center;
    align-items: start;
    gap: 8px;
    width: 60%;
    color: var(--gray-scale-1, var(--sub-title, #313131));
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container {
    display: inline-flex;
    width: 360px;
    align-items: start;
    flex-shrink: 0;
    list-style: none;
    color: var(--gray-scale-1, var(--sub-title, #313131));
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.selectedRegion {
    border: 1px solid var(--gray-scale, #F3F3F3);
    background: var(--orange2, #FF6F3C);
    color: var(--white, #FFF);
  }

.cityList {
    list-style: none;
    display: flex;
    li {
        display: flex;
        padding: 9px 14px;
        //border: 1px solid var(--gray-scale, #F3F3F3);
        color: var(--gray-scale, var(--email, #9F9F9F));
        font-family: 'Pretendard-Regular';
        font-size: 16px;
        font-weight: 500;
        text-align: start;
        &.active {
            color: var(--orange2, #FF6F3C);
          }
    }
}

.selectedCity {
    color: var(--orange2, var(--orange, #FF6F3C));
  }

  .choiceBlock{
    margin-top: 50px;
    border-top: 1px solid var(--gray-scale, #F3F3F3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .maxText {
    color: var(--gray-scale, var(--email, #9F9F9F));
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    display: flex;
    width: 360px;
    height: 30px;
    padding: 8px 18px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
  }

  .choiceButton{
    display: flex;
    width: 340px;
    height: 58px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    background: var(--orange2, #FF6F3C);
    color: var(--white, #FFF);
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    outline: none;
  }
  
  .filterList {
    display: flex;
    width: auto;
    padding: 8px 18px;
    justify-content: left;
    align-items: left;
    gap: 8px;
    li {
      display: flex;
      padding: 8px 14px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 30px;
      border: 1px solid var(--gray-scale, #D9D9D9);
      background: var(--gray-scale, #F3F3F3);
      color: var(--gray-scale2, var(--main-txt, #737373));
      font-family: 'Pretendard-Regular';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }