.layout {
    background: #F3F3F3;
    padding-bottom: 30px;
}

.profile {
    padding-top: 15px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: #FFF;
  }

  .profilepic {
    width: 80px;
    height: 80px;
    fill: #FCFCFC;
    border-radius: 50%;
  }
  
.bigContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 24px;
  }

  .nickname {
    color: var(--sub-title, #313131);
    font-family: 'SUIT-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.5px;
    letter-spacing: -0.98px;
    margin-bottom: 15px;
  }
  
  .instaId{
    color: var(--gray-scale, var(--email, #9F9F9F));
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

.setting {
    line-height: normal;
    position: absolute;
    right: 20px;
}

.lovelyScoreConteiner {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    background-color: #FFF;
}

.scoreConteiner {
    display: flex;
    margin-bottom: 10px;
}

.scoreTitle {
    color: var(--gray-scale2, var(--main-txt, #737373));
    text-align: center;
    font-family: 'Pretendard-Regular';
    margin-left: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lovelyScore {
    color: var(--orange2, var(--orange, #FF6F3C));
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    right: 27px;
}

.scoreBar {
    width: 268px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--gray-scale, #F3F3F3);
    margin-left: 24px;
}

.bottomView {
    margin-top: 15px;
    align-items: center;
    width: 100%;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 17px 8px 18px 7px rgba(0, 0, 0, 0.04);
    padding-top: 30px;
    justify-content: center;
}

.titleContainer {
    align-items: center;
    margin-bottom: 50px;
    border-radius: 32px;
    width: 100%;
    height: 30px;
    justify-content: center;
}

.titleBar {
    display:inline-flex;
    justify-content: center;
    list-style: none;
    padding: 7px 12px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    width: auto;
    height: 37px;
    border-radius: 32px;
    border: 1px solid #E1E1E1;
    li {
        display: flex;
        width: auto;
        color: var(--gray-scale, var(--email, #9F9F9F));
        font-family: 'Pretendard-Regular';
        font-size: 16px;
        font-weight: 500;
        height: 33px;
        padding: 7px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        &.active {
            border-radius: 32px;
            background: #EEE;
        }
    }
    padding-right: 25px;
}

.notWishContainer {
    //display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-block: 150px;
}

.notWishImage {
    width: 70px;
    height: 100px;
    flex-shrink: 0;
    padding-bottom: 30px;
}

.errorButton{
    margin-top: 10px;
    display: flex;
    width: 96%;
    margin-inline: 2%;
    height: 58px;
    padding: 7px 0px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--white, #FFF);
    color: var(--gray-scale-1, var(--sub-title, #313131));
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}

a {
    text-decoration: none;
}

.notWishText {
    color: var(--email, #9F9F9F);
    text-align: center;
    font-family: 'SUIT-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 115.625% */
    letter-spacing: -1.12px;
}

.notWishText2 {
    color: var(--main-txt, #737373);
    font-weight: 600;
}

.button {
    display: inline-flex;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: #FF6F3C;
    margin-top: 30px;
    border : none;
    color: #FFF;
    text-align: center;
    font-family: 'SUIT-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.5px; /* 115.625% */
    letter-spacing: -1.12px;
}

.wishList {
        //display: flexbox;
        padding-bottom: 20px;
        width: 200px;
        height: 300px;
        margin: 20px;
        //flex-shrink: 0;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.06);
        margin-bottom: 30px;
}

.title {
    color: var(--title, #101010);
    font-family: 'LeferiPoint-BlackA';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 122.222% */
    letter-spacing: -1.26px;
    margin: 24px;
    padding-top: 20px;
    text-align: left;
}

.cafeContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 두 개의 열을 만듭니다. */
}

.cafeList {
    padding-bottom: 30px;
    width: 85%;
    height:80%;
    margin: 20px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.06);
}

.productImage {
    text-align: center;
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.productTitle {
    color: var(--title, #101010);
    text-align: center;
    font-family: 'LeferiPoint-BlackA';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -1.12px;
    text-align: left;
    margin: 10px;
}

.productText {
    color: var(--main-txt, #737373);
    font-family: 'SUIT-Regular';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.84px;
    text-align: left;
    margin-left: 10px;
    margin-right: 15px;
}

.closeButton {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    top : 5px;
    left : 20px
}

.location {
    color: var(--main-txt, #737373);
    text-align: left;
    font-family: 'SUIT-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 154.167% */
    letter-spacing: -0.84px;
    margin-left: 50px;
    padding-bottom: 5px;
}

.subIcon {
    display: left;
    position: absolute;
    left : 20px;
}

.mapLayout {
    width: 94%;
    height: 170px;
    margin: 10px;
    padding: auto;
    border-radius: 24px;
    position: center;
    border-color:rgb(255, 255, 255);
}

.instaLink {
    color: var(--main-txt, #737373);
    font-family: 'SUIT-Regular';
    font-size: 14px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    letter-spacing: -0.84px;
    padding-bottom: 5px;
    margin-left: 50px;
  
    /* 링크 스타일 수정 */
    a {
      text-decoration: none;
      color: inherit;
      display: block; /* 인스타그램 링크를 블록 요소로 설정하여 옆으로 배치되지 않도록 함 */
    }
  }

  .gridContainer {
    width: 360px;
    justify-content: center;
    align-items: center;
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: repeat(3, 1fr); /* 2개의 열을 만듭니다. */
    gap: 24px; /* 버튼 사이의 간격을 조절합니다. */
  }

  .contentContainer {
    width: 360px;
    display: flex;
    flex-direction: column;
  }